SampleJAX-WS-Project/WebContent/wsdl/MathService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.mindfire.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.mindfire.com" xmlns:intf="http://service.mindfire.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.mindfire.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="i" type="xsd:int"/>
      <element name="j" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="substract">
    <complexType>
     <sequence>
      <element name="i" type="xsd:int"/>
      <element name="j" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="substractResponse">
    <complexType>
     <sequence>
      <element name="substractReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="substractResponse">

      <wsdl:part element="impl:substractResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="substractRequest">

      <wsdl:part element="impl:substract" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MathService">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="substract">

         <wsdl:input message="impl:substractRequest" name="substractRequest">

       </wsdl:input>

         <wsdl:output message="impl:substractResponse" name="substractResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MathServiceSoapBinding" type="impl:MathService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="substract">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="substractRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="substractResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MathServiceService">

      <wsdl:port binding="impl:MathServiceSoapBinding" name="MathService">

         <wsdlsoap:address location="http://localhost:8090/SampleJAX-WS-Project/services/MathService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
