SampleJAX-WS-Project/WebContent/wsdl/Multiply.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Multiply.tce.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Multiply.tce.edu" xmlns:intf="http://Multiply.tce.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Multiply.tce.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doMultiply">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="doMultiplyResponse">
    <complexType>
     <sequence>
      <element name="doMultiplyReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doMultiplyRequest">

      <wsdl:part element="impl:doMultiply" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doMultiplyResponse">

      <wsdl:part element="impl:doMultiplyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Multiply">

      <wsdl:operation name="doMultiply">

         <wsdl:input message="impl:doMultiplyRequest" name="doMultiplyRequest">

       </wsdl:input>

         <wsdl:output message="impl:doMultiplyResponse" name="doMultiplyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MultiplySoapBinding" type="impl:Multiply">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doMultiply">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doMultiplyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doMultiplyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MultiplyService">

      <wsdl:port binding="impl:MultiplySoapBinding" name="Multiply">

         <wsdlsoap:address location="http://localhost:8090/SampleJAX-WS-Project/services/Multiply"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
